#comment-box {
	width: 97%;
	height: 150px;
	resize: none;
	margin-bottom: 10px;
}

#comment-container {
	margin-top: 40px;
	padding: 30px 30px 20px 10px;
	background-color: #E8E8E8;
}

#comment-log {
	height: 700px;
	margin-top: 20px; 
	/*background-color: #E8E8E8;*/
}